//META{"name":"BasicBackground","description":"Allows you to use a background image in Discord without greatly altering the basic look of Discord.","author":"DevilBro","version":"1.0.4","website":"https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/BasicBackground","source":"https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/BasicBackground/BasicBackground.theme.css"}*//{}

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);

:root {
  --transparencycolor: 16, 12, 25;
  --transparencyalpha: 0.3;
  --messagetransparency: 0;
  --guildchanneltransparency: 0;
  --memberlistransparency: 0;
  --accentcolor: 103, 89, 136;
  --background: transparent;
  --backgroundsize: cover;
  --backdrop: rgba(0, 0, 0, 0);
  --backgroundblur: 0px;
  --popoutblur: 0px;
  --backdropblur: 0px;
}

/* Remove backrounds from all elements */
.chat-3bRxxu form:after,
.channels-Ie2l6A > div:nth-child(2),
.theme-dark .container-3baos1, .theme-light .container-3baos1,
.theme-dark .wrapper-29NfPK {
  background: transparent!important;
}

/* Backround of code blocks, embeds and invites */
.da-container pre,  /* Code block */
.da-embed,
.da-invite,
.da-attachment,
.da-messageGroupBlockedBtn {
  background: rgba(var(--transparencycolor), 0.3)!important;
}

/* Remove unnecessary border from voice connected state */
.chat-3bRxxu form:after, .channels-Ie2l6A > div:nth-child(2), .theme-dark .container-3baos1, .theme-light .container-3baos1,
.da-inner {
  border: 0!important;
}

/* Remove that weird arrow thing when you are uploading a file 
.da-wrapper::after {
  display: none;
}*/

