//META{"name":"WalColorScheme","description":"Used to integrate Pywal (Linux application used to generate color schemes from images) with the SimpleTransparency theme.","author":"Predator","version":"1.0"}*//{}

:root {
  --background-color: 12, 12, 18 !important;
  --accent-color: 50, 85, 98 !important;
  --background-alpha: 0.7 !important;
}
