# Set resolution and refresh rate
xrandr --output DVI-D-0 --mode 1440x900 --rate 75 --primary

# Run xautolock for automatic screen locking
xautolock -time 10 -locker "betterlockscreen -l blur" &

# League of Legends anticheat fix
sudo sysctl -p &

xset r rate 200 90 &                     # Speed keyboard repeat rate up
setxkbmap -layout pl -option caps:escape # Remap caps to escape
sxhkd &                                  # Launch the simple x hotkey daemon
picom --experimental-backends &          # Launch the picom composite manager
redshift &                               # Launch redshift
dunst &                                  # Launch the dunst notification daemon
~/.local/bin/dwm-status &                # Dwm status script

# Temporary wallpaper setting, to be replaced by wal or other script
feh --bg-fill ~/Pictures/wallpapers/anime/kimetsu-no-yaiba/daki.jpg
