!! Transparency (0-255):
*.alpha: 190

!! Font
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!! Rofi
rofi.modi: drun
rofi.width: 40
rofi.lines: 15
rofi.padding: 2
rofi.yoffset: -300
rofi.bw: 2
rofi.font: System San Francisco Display 16
rofi.fixed-num-lines: false
rofi.terminal: st
rofi.run-command: {cmd}
rofi.run-shell-command: {terminal} -e {cmd}
rofi.icon-theme: Numix
rofi.show-match: false
!rofi.sidebar-mode: true
rofi.hide-scrollbar: true
