!! Transparency (0-1):
st.alpha: 0.7
st.background: #0D0C0F

!! Font
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!! Rofi
rofi.theme: ~/.cache/wal/colors-rofi-dark.rasi
rofi.modi: drun,window,calc
rofi.width: 30
rofi.lines: 5
rofi.font: System San Francisco Display 16
rofi.bw: 0
rofi.padding: 0
rofi.yoffset: -200
rofi.fixed-num-lines: false
rofi.show-icons: false
rofi.terminal: st
rofi.run-command: {cmd}
rofi.run-shell-command: {terminal} -e {cmd}
rofi.icon-theme: Numix
rofi.drun-display-format: {name}
rofi.show-match: false
rofi.hide-scrollbar: true
rofi.eh: 1
rofi.line-padding: 6
rofi.separator-style: none
rofi.window-format: {t}
