!! Transparency (0-255):
*.alpha: 190

!! Font
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!! Rofi
rofi.modi: run
rofi.width: 20
rofi.lines: 3
rofi.padding: 2
rofi.yoffset: -300
!rofi.color: ${xrdb:color0}
rofi.opacity: 100
rofi.bw: 0
rofi.font: System San Francisco Display 18
!rofi.font: mono 20
rofi.fixed-num-lines: false
!rofi.show-icons: true
rofi.terminal: st
rofi.run-command: {cmd}
rofi.run-shell-command: {terminal} -e {cmd}
!rofi.icon-theme: Adwaita
rofi.show-match: false
!rofi.sort: true
!rofi.sorting-method: fzf
!rofi.sidebar-mode: true
rofi.hide-scrollbar: true
